using Newtonsoft.Json;

@page "/search"
@inject WeatherForecastService weatherForecastService


<h3>Obter Previsão do Tempo para Salvador</h3>

<button @onclick="GetWeatherForecast">Obter Previsão</button>

@if (weatherData != null)
{
    var formattedData = JsonConvert.DeserializeObject<WeatherForecastData>(weatherData);
    <h4>Previsão do Tempo para Salvador:</h4>
    <p>Temperatura: @formattedData.Main.Temp °C</p>
    <p>Descrição: @formattedData.Weather[0].Description</p>
    <p>Velocidade do Vento: @formattedData.Wind.Speed m/s</p>
}
@code {
    private string? cityName;
    private string? weatherData;

    private async Task GetWeatherForecast()
    {
        weatherData = await weatherForecastService.GetWeatherForecast(cityName);
    }

    public class WeatherForecastData
    {
        public MainData Main { get; set; }
        public WeatherData[] Weather { get; set; }
        public WindData Wind { get; set; }
    }

    public class MainData
    {
        public double Temp { get; set; }
    }

    public class WeatherData
    {
        public string Description { get; set; }
    }

    public class WindData
    {
        public double Speed { get; set; }
    }
}
