@using Newtonsoft.Json;

@page "/search"
@inject WeatherForecastService weatherForecastService
<PageTitle> Search Page</PageTitle>

<h3>Obter Previsão do Tempo </h3>
<p>Cidade: <input type="text" @bind="cityName"></p>
<button @onclick="GetWeatherForecast">Obter Previsão</button>

@if (weatherData != null)
{
    var formattedData = JsonConvert.DeserializeObject<WeatherForecastData>(weatherData);
<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th>Temperatura ºC:</th>
        <th>Descrição</th>
        <th>Velocidade do Vento</th>
        <th>Velocidade do Vento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>@formattedData.Main.Temp</td>
        <td>@formattedData.Weather[0].Description</td>
        <td>@formattedData.Wind.Speed m/s</td>
        <td>@formattedData</td>
    </tr>
  </tbody>
</table>
}
@code {
    private string? cityName;
    private string? weatherData;

    private async Task GetWeatherForecast()
    {
        weatherData = await weatherForecastService.GetWeatherForecast(cityName!);
    }

    public class WeatherForecastData
    {
        public MainData? Main { get; set; }
        public WeatherData[]? Weather { get; set; }
        public WindData? Wind { get; set; }
    }

    public class MainData
    {
        public double Temp { get; set; }
    }

    public class WeatherData
    {
        public string? Description { get; set; }
    }

    public class WindData
    {
        public double Speed { get; set; }
    }
}
