@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <a href="https://github.com/L1malucas/ClimaApp" target="_blank">
        <button type="button" class="btn btn-primary btn-sm">
            <span class="bi bi-github"></span> Repositório
        </button>
      </a>
      <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/limalucasdev/">
            <img 
            src="https://media.licdn.com/dms/image/C4E03AQFa5nTpOhmrgg/profile-displayphoto-shrink_800_800/0/1638921025963?e=2147483647&v=beta&t=V-R0YPlwsCEjsUB05vAIJfz9k_Ip4HZCUSZ-UJRFOHo"
            alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
          </a>
        </div>
      </nav> 
    </div>
    <article class="content px-4">@Body</article>
  </main>
 
</div>


