<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">ClimaApp</a>
    <button
      title="Navigation menu"
      class="navbar-toggler"
      @onclick="ToggleNavMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="image">
      <a target="_blank" href="https://www.linkedin.com/in/limalucasdev/">
        <img
          class="rounded-circle"
          alt="avatar1"
          src="https://media.licdn.com/dms/image/C4E03AQFa5nTpOhmrgg/profile-displayphoto-shrink_800_800/0/1638921025963?e=2147483647&v=beta&t=V-R0YPlwsCEjsUB05vAIJfz9k_Ip4HZCUSZ-UJRFOHo"
        />
      </a>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link" href="search">
        <span class="bi bi-search" aria-hidden="true"></span> Search
      </NavLink>
    </div>
  </nav>
</div>

@code {
  private bool collapseNavMenu = true; private string? NavMenuCssClass =>
  collapseNavMenu ? "collapse" : null; private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }
} 
